In [1]:
from platform import python_version
print(python_version())

3.12.3

In [2]:
import pandas as pd
pd.__version__

'1.5.3'

In [3]:
import numpy as np
np.__version__

'1.26.4'

In [4]:
import scipy as sp
sp.__version__

'1.13.1'

In [5]:
import sklearn as sk
sk.__version__

'1.5.0'

In [6]:
from dsUtils import Aggregator, Counterizor, Vectorizor, Imputor, \
                     Sparsifior, CustomStrategy, VarianceSelector

In [7]:
column_names = ['id', 'sc1', 'numeric1', 'numeric2', 'sc2', 'gender', 'target', 'c1', 'c2']
df1 = pd.DataFrame([['A34G56G', 'ab_cd', 34.5, None, "a#b#a#b#c", "F", 0, "AA","AAA"],
                    ['P34N12C', 'aé_ef', None, 98, "", "", 1, "BB", "AAA"],
                    ['V27H74P', '', -18.4, -10.45, "#b#a#", "M", 1, "CC", "BBB"],
                    ['B74Q12W', 'cd_ef', 0.75, 1.021, "#b#a#", "M", 1, "", "CCC"],
                    ['G98S45X', 'gh_ij', 78.45, 9874, None, "", 1, "DD", "BBB"],
                    ['R16D00C', 'gh_ij_ij', 0, 4.75, "#b#a#", "F", 1, "EE", ""],
                    ['N08W87W', 'ab____kl', 12.8, 7.54, "b#b#d#d#e#e", "F", 0, "FF", "AAA"],
                    ['U13F20V', '_', 12.8, 98.12, "b#b#d#d#a#a", "F", 0, "GG", "AAA"],
                    ['P42G78B', None, -3.28, 42.36, "b#b###e", "M", 0, "HH", "CCC"],
                    ['M98H12N', 'ab_kl_', 1478, -18.45, "a##c#d#", "M", 0, "II", "BBB"],
                    ['W45J98P', '_gh_cd', 6., 1e-05, "#d", "F", 0, "JJ", None],
                   ],
                  columns=column_names)
df1

,id,sc1,numeric1,numeric2,sc2,gender,target,c1,c2
0,A34G56G,ab_cd,34.50,NaN,a#b#a#b#c,F,0,AA,AAA
1,P34N12C,aé_ef,NaN,98.00000,,,1,BB,AAA
2,V27H74P,,-18.40,-10.45000,#b#a#,M,1,CC,BBB
3,B74Q12W,cd_ef,0.75,1.02100,#b#a#,M,1,,CCC
4,G98S45X,gh_ij,78.45,9874.00000,None,,1,DD,BBB
5,R16D00C,gh_ij_ij,0.00,4.75000,#b#a#,F,1,EE,
6,N08W87W,ab____kl,12.80,7.54000,b#b#d#d#e#e,F,0,FF,AAA
7,U13F20V,_,12.80,98.12000,b#b#d#d#a#a,F,0,GG,AAA
8,P42G78B,None,-3.28,42.36000,b#b###e,M,0,HH,CCC
9,M98H12N,ab_kl_,1478.00,-18.45000,a##c#d#,M,0,II,BBB
10,W45J98P,_gh_cd,6.00,0.00001,#d,F,0,JJ,None

In [8]:
c = Counterizor(ignored_columns=['id', 'target'],
                sharp_categorical_dict={"sc1": {'sep': "_", "norm": True},\
                                        "sc2": {'sep': "#", "norm": False}})

In [9]:
_ = c.fit_transform(df1)

In [10]:
v = Vectorizor(ignored_columns=['id', 'target'])
data1 = v.fit_transform(df1)

In [11]:
cs = CustomStrategy({'numeric1': "median", 'numeric2': 3.1416})

In [12]:
i = Imputor(ignored_columns=['id', 'target'], na_strategy=cs)

In [13]:
df1 = i.fit_transform(data1.df)

Columns ['target', 'id'] will not be imputed.

In [14]:
s = Sparsifior(keys='id', target='target')

In [15]:
data4model = s.transform(df=df1, sm=data1.sm, sm_columns=data1.sm_columns)

In [16]:
pd.DataFrame(data4model.X.todense(), columns=data4model.features)

,numeric1,numeric2,cat_gender_F,cat_gender_M,cat_c2_AAA,cat_c2_BBB,cat_c2_CCC,#_cat_sc1_ab,#_cat_sc1_aé,#_cat_sc1_cd,...,cat_c1_BB,cat_c1_CC,cat_c1_DD,cat_c1_EE,cat_c1_FF,cat_c1_GG,cat_c1_HH,cat_c1_II,cat_c1_JJ,cat_c1_other
0,34.50,3.14160,1.000000,0.000000,1.000000,0.000000,0.000000,0.5,0.0,0.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,9.40,98.00000,0.555556,0.444444,1.000000,0.000000,0.000000,0.0,0.5,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,-18.40,-10.45000,0.000000,1.000000,0.000000,1.000000,0.000000,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.75,1.02100,0.000000,1.000000,0.000000,0.000000,1.000000,0.0,0.0,0.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,78.45,9874.00000,0.555556,0.444444,0.000000,1.000000,0.000000,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.00,4.75000,1.000000,0.000000,0.444444,0.333333,0.222222,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
6,12.80,7.54000,1.000000,0.000000,1.000000,0.000000,0.000000,0.5,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
7,12.80,98.12000,1.000000,0.000000,1.000000,0.000000,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
8,-3.28,42.36000,0.000000,1.000000,0.000000,0.000000,1.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
9,1478.00,-18.45000,0.000000,1.000000,0.000000,1.000000,0.000000,0.5,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
10,6.00,0.00001,1.000000,0.000000,0.444444,0.333333,0.222222,0.0,0.0,0.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [17]:
vs = VarianceSelector(threshold=0.25)

In [18]:
X = vs.fit_transform(data4model.X)

In [19]:
features = vs.select_features(data4model.features)

In [20]:
pd.DataFrame(X.todense(), columns=features)

    numeric1    numeric2  #_cat_sc2_a  #_cat_sc2_b  #_cat_sc2_d  #_cat_sc2_e
0      34.50     3.14160          2.0          2.0          0.0          0.0
1       9.40    98.00000          0.0          0.0          0.0          0.0
2     -18.40   -10.45000          1.0          1.0          0.0          0.0
3       0.75     1.02100          1.0          1.0          0.0          0.0
4      78.45  9874.00000          0.0          0.0          0.0          0.0
5       0.00     4.75000          1.0          1.0          0.0          0.0
6      12.80     7.54000          0.0          2.0          2.0          2.0
7      12.80    98.12000          2.0          2.0          2.0          0.0
8      -3.28    42.36000          0.0          2.0          0.0          1.0
9    1478.00   -18.45000          1.0          0.0          1.0          0.0
10      6.00     0.00001          0.0          0.0          1.0          0.0

In [21]:
from dsUtils import Preprocessor

In [22]:
column_names = ['id', 'sc1', 'numeric1', 'numeric2', 'sc2', 'gender', 'target', 'c1', 'c2']
df2 = pd.DataFrame([['A34G56G', 'ab_cd', 34.5, None, "a#b#a#b#c", "F", 0, "AA","AAA"],
                    ['P34N12C', 'aé_ef', None, 98, "", "", 1, "BB", "AAA"],
                    ['V27H74P', '', -18.4, -10.45, "#b#a#", "M", 1, "CC", "BBB"],
                    ['B74Q12W', 'cd_ef', 0.75, 1.021, "#b#a#", "M", 1, "", "CCC"],
                    ['G98S45X', 'gh_ij', 78.45, 9874, None, "", 1, "DD", "BBB"],
                    ['R16D00C', 'gh_ij_ij', 0, 4.75, "#b#a#", "F", 1, "EE", ""],
                    ['N08W87W', 'ab____kl', 12.8, 7.54, "b#b#d#d#e#e", "F", 0, "FF", "AAA"],
                    ['U13F20V', '_', 12.8, 98.12, "b#b#d#d#a#a", "F", 0, "GG", "AAA"],
                    ['P42G78B', None, -3.28, 42.36, "b#b###e", "M", 0, "HH", "CCC"],
                    ['M98H12N', 'ab_kl_', 1478, -18.45, "a##c#d#", "M", 0, "II", "BBB"],
                    ['W45J98P', '_gh_cd', 6., 1e-05, "#d", "F", 0, "JJ", None],
                   ],
                   columns=column_names)
df2

,id,sc1,numeric1,numeric2,sc2,gender,target,c1,c2
0,A34G56G,ab_cd,34.50,NaN,a#b#a#b#c,F,0,AA,AAA
1,P34N12C,aé_ef,NaN,98.00000,,,1,BB,AAA
2,V27H74P,,-18.40,-10.45000,#b#a#,M,1,CC,BBB
3,B74Q12W,cd_ef,0.75,1.02100,#b#a#,M,1,,CCC
4,G98S45X,gh_ij,78.45,9874.00000,None,,1,DD,BBB
5,R16D00C,gh_ij_ij,0.00,4.75000,#b#a#,F,1,EE,
6,N08W87W,ab____kl,12.80,7.54000,b#b#d#d#e#e,F,0,FF,AAA
7,U13F20V,_,12.80,98.12000,b#b#d#d#a#a,F,0,GG,AAA
8,P42G78B,None,-3.28,42.36000,b#b###e,M,0,HH,CCC
9,M98H12N,ab_kl_,1478.00,-18.45000,a##c#d#,M,0,II,BBB
10,W45J98P,_gh_cd,6.00,0.00001,#d,F,0,JJ,None

In [23]:
p = Preprocessor()

In [24]:
cs = CustomStrategy({'numeric1': "median", 'numeric2': 3.1416})
data2 = p.fit_transform(df2.copy(), 
                pruning_frequency=None, 
                do_not_use=['id', 'target'],
                variance_threshold=0.25, 
                low_memory=True, na_strategy=cs,
                sharp_categorical_dict={"sc1": {'sep': "_", "norm": True},
                                        "sc2": {'sep': "#", "norm": False}})

Columns ['target', 'id'] will not be imputed.

In [25]:
pd.DataFrame(data2.X.todense(), columns=data2.names)

    numeric1    numeric2  #_cat_sc2_a  #_cat_sc2_b  #_cat_sc2_d  #_cat_sc2_e
0      34.50     3.14160          2.0          2.0          0.0          0.0
1       9.40    98.00000          0.0          0.0          0.0          0.0
2     -18.40   -10.45000          1.0          1.0          0.0          0.0
3       0.75     1.02100          1.0          1.0          0.0          0.0
4      78.45  9874.00000          0.0          0.0          0.0          0.0
5       0.00     4.75000          1.0          1.0          0.0          0.0
6      12.80     7.54000          0.0          2.0          2.0          2.0
7      12.80    98.12000          2.0          2.0          2.0          0.0
8      -3.28    42.36000          0.0          2.0          0.0          1.0
9    1478.00   -18.45000          1.0          0.0          1.0          0.0
10      6.00     0.00001          0.0          0.0          1.0          0.0

In [26]:
from dsUtils import Aggregator

In [27]:
column_names = ['id', 'sc1', 'numeric1', 'numeric2', 'sc2', 'gender', 'target', 'c1', 'c2']
df3 = pd.DataFrame([['A34G56G', 'ab', 34.5, None, "c", "F", 0, "AA","AAA"],
                    ['P34N12C', 'abh', None, 98, "", "", 1, "BB", "AAA"],
                    ['V27H74P', 'wdf', -18.4, -10.45, "a", "M", 1, "CC", "BBB"],
                    ['V27H74P', 'cdz', 0.75, 1.021, "a", "M", 1, "", "CCC"],
                    ['G98S45X', 'ija', 78.45, 9874, None, "", 1, "DD", "BBB"],
                    ['A34G56G', 'ij', 0, 4.75, "a", "F", 1, "EE", ""],
                    ['A34G56G', 'kl', 12.8, 7.54, "e", "F", 0, "FF", "AAA"],
                    ['U13F20V', 'pot', 12.8, 98.12, "d", "F", 0, "GG", "AAA"],
                    ['A34G56G', None, -3.28, 42.36, "b", "M", 0, "HH", "CCC"],
                    ['M98H12N', 'klu', 1478, -18.45, "a", "M", 0, "II", "BBB"],
                    ['U13F20V', 'gh', 6., 1e-05, "d", "F", 0, "JJ", None],
                   ],
                   columns=column_names)
df3

         id   sc1  numeric1    numeric2   sc2 gender  target  c1    c2
0   A34G56G    ab     34.50         NaN     c      F       0  AA   AAA
1   P34N12C   abh       NaN    98.00000                    1  BB   AAA
2   V27H74P   wdf    -18.40   -10.45000     a      M       1  CC   BBB
3   V27H74P   cdz      0.75     1.02100     a      M       1       CCC
4   G98S45X   ija     78.45  9874.00000  None              1  DD   BBB
5   A34G56G    ij      0.00     4.75000     a      F       1  EE
6   A34G56G    kl     12.80     7.54000     e      F       0  FF   AAA
7   U13F20V   pot     12.80    98.12000     d      F       0  GG   AAA
8   A34G56G  None     -3.28    42.36000     b      M       0  HH   CCC
9   M98H12N   klu   1478.00   -18.45000     a      M       0  II   BBB
10  U13F20V    gh      6.00     0.00001     d      F       0  JJ  None

In [28]:
strategy = {"gender": max,
            "sc1": "counter",
            "sc2": "normalized_counter",
            "c1": lambda x: list(set(x)),
            "c2": "counter",
            "target": max, 
            "numeric1": np.mean, 
            "numeric2": np.median}
a = Aggregator(aggregation_keys='id', aggregation_strategy=strategy, vectorizor_compatibility=False)

In [29]:
agg_df1 = a.fit_transform(df3)
agg_df1

{'gender': <built-in function max>, 'sc1': <function my_counter at 0x7d8db1e05c60>, 'sc2': <function my_normalized_counter at 0x7d8db09e7880>, 'c1': <function <lambda> at 0x7d8db09f7ec0>, 'c2': <function my_counter at 0x7d8db1e05c60>, 'target': <built-in function max>, 'numeric1': <function mean at 0x7d8e1022a3b0>, 'numeric2': <function median at 0x7d8e10166fb0>}

,id,cat_gender,cat_sc1,cat_sc2,cat_c1,cat_c2,target,numeric1,numeric2
0,A34G56G,M,"{'ab': 1, 'ij': 1, 'kl': 1, 'other': 1}","{'c': 0.25, 'a': 0.25, 'e': 0.25, 'b': 0.25}","[EE, HH, AA, FF]","{'AAA': 2, 'other': 1, 'CCC': 1}",1,11.005,7.540000
1,G98S45X,other,{'ija': 1},{'other': 1.0},[DD],{'BBB': 1},1,78.450,9874.000000
2,M98H12N,M,{'klu': 1},{'a': 1.0},[II],{'BBB': 1},0,1478.000,-18.450000
3,P34N12C,other,{'abh': 1},{'other': 1.0},[BB],{'AAA': 1},1,NaN,98.000000
4,U13F20V,F,"{'pot': 1, 'gh': 1}",{'d': 1.0},"[JJ, GG]","{'AAA': 1, 'other': 1}",0,9.400,49.060005
5,V27H74P,M,"{'wdf': 1, 'cdz': 1}",{'a': 1.0},"[CC, other]","{'BBB': 1, 'CCC': 1}",1,-8.825,-4.714500

In [30]:
strategy = {"gender": max,
            "sc1": "counter",
            "sc2": "normalized_counter",
            "c1": "counter",
            "c2": "counter",
            "target": max, 
            "numeric1": np.mean, 
            "numeric2": np.median}
b = Aggregator(aggregation_keys='id', aggregation_strategy=strategy)

In [31]:
agg_df2 = b.fit_transform(df3)
agg_df2

{'gender': <built-in function max>, 'sc1': <function my_counter at 0x7d8db1e05c60>, 'sc2': <function my_normalized_counter at 0x7d8db09e7880>, 'c1': <function my_counter at 0x7d8db1e05c60>, 'c2': <function my_counter at 0x7d8db1e05c60>, 'target': <built-in function max>, 'numeric1': <function mean at 0x7d8e1022a3b0>, 'numeric2': <function median at 0x7d8e10166fb0>}

,id,cat_gender,cat_sc1,cat_sc2,cat_c1,cat_c2,target,numeric1,numeric2
0,A34G56G,{'M': 1},"{'ab': 1, 'ij': 1, 'kl': 1, 'other': 1}","{'c': 0.25, 'a': 0.25, 'e': 0.25, 'b': 0.25}","{'AA': 1, 'EE': 1, 'FF': 1, 'HH': 1}","{'AAA': 2, 'other': 1, 'CCC': 1}",1,11.005,7.540000
1,G98S45X,{'other': 1},{'ija': 1},{'other': 1.0},{'DD': 1},{'BBB': 1},1,78.450,9874.000000
2,M98H12N,{'M': 1},{'klu': 1},{'a': 1.0},{'II': 1},{'BBB': 1},0,1478.000,-18.450000
3,P34N12C,{'other': 1},{'abh': 1},{'other': 1.0},{'BB': 1},{'AAA': 1},1,NaN,98.000000
4,U13F20V,{'F': 1},"{'pot': 1, 'gh': 1}",{'d': 1.0},"{'GG': 1, 'JJ': 1}","{'AAA': 1, 'other': 1}",0,9.400,49.060005
5,V27H74P,{'M': 1},"{'wdf': 1, 'cdz': 1}",{'a': 1.0},"{'CC': 1, 'other': 1}","{'BBB': 1, 'CCC': 1}",1,-8.825,-4.714500

In [32]:
v = Vectorizor(ignored_columns=['id', 'target'])
data = v.fit_transform(agg_df2)

In [33]:
df4 = i.fit_transform(data.df)

Columns ['id', 'target'] will not be imputed.

In [34]:
df4

,id,target,numeric1,numeric2,cat_gender_F,cat_gender_M,cat_sc2_a,cat_sc2_b,cat_sc2_c,cat_sc2_d,cat_sc2_e,cat_c2_AAA,cat_c2_BBB,cat_c2_CCC
0,A34G56G,1,11.005,7.540000,0.00,1.00,0.2500,0.2500,0.2500,0.00,0.2500,0.25,0.75,0.25
1,G98S45X,1,78.450,9874.000000,0.25,0.75,0.5625,0.0625,0.0625,0.25,0.0625,0.00,1.00,0.00
2,M98H12N,0,1478.000,-18.450000,0.00,1.00,1.0000,0.0000,0.0000,0.00,0.0000,0.00,1.00,0.00
3,P34N12C,1,11.005,98.000000,0.25,0.75,0.5625,0.0625,0.0625,0.25,0.0625,1.00,0.00,0.00
4,U13F20V,0,9.400,49.060005,1.00,0.00,0.0000,0.0000,0.0000,1.00,0.0000,0.25,0.75,0.25
5,V27H74P,1,-8.825,-4.714500,0.00,1.00,1.0000,0.0000,0.0000,0.00,0.0000,0.00,1.00,1.00